<!DOCTYPE html>
<html>
  <head>
    <title>My Search Box</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="search-box">
        <img
          src="/static/images/search-icon-small-7.png"
          alt="Logo"
          width="40%"
        />
      </div>
      <form method="POST" action="/search">
        <input
          type="text"
          name="query"
          class="search-input"
          placeholder="Search  or type a URL"
          autocomplete="off"
        />
        <button type="submit" class="search-button">Query</button>
      </form>
      <a href="https://chat.openai.com/" target="_blank"
        ><button type="submit" class="open-ai-button">Open AI</button></a
      >

      <a href="https://bard.google.com/" target="_blank"
        ><button type="submit" class="google-bard-button">
          Google Bard
        </button></a
      >
      <a href="#" class="login-button">Log In</a>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
